@use '../abstracts/' as a;

.pagination {
  @include a.flex-container($align: center, $gap: a.rem(12));

  &__page-number.button {
    border-color: a.$color-gray;

    &:hover {
      background-color: lighten(a.$color-gray, 60%);
      border-color: a.$color-gray;
    }
  }
}
