@use '../abstracts/' as a;

.artwork-page {
  @include a.flex-container($direction: column, $gap: a.rem(120));

  .artwork-details {
    @include a.flex-container($gap: a.rem(80));

    &__image-container {
      position: relative;
      max-width: a.rem(497);
      max-height: a.rem(570);
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__button {
      width: fit-content;
      position: absolute;
      bottom: calc(
        100% - a.rem(60) - a.rem(16)
      ); // 100% - button size (60px) - indent from image border (16px)
      left: calc(100% - a.rem(60) - a.rem(16));
    }

    &__description {
      @include a.flex-container($direction: column, $gap: a.rem(172));
    }

    &__heading {
      @include a.flex-container($direction: column);
    }

    &__title {
      font-size: a.rem(32);
      font-weight: 400;

      &_first {
        margin-bottom: a.rem(32);
      }
    }

    &__artist {
      margin-bottom: a.rem(16);
      font-size: a.rem(24);
      color: a.$color-light-orange;
    }

    &__reference-number {
      font-size: a.rem(16);
      font-weight: 700;
    }

    &__overview {
      @include a.flex-container($direction: column, $gap: a.rem(32));
    }

    &__list {
      @include a.flex-container($direction: column, $gap: a.rem(16));
    }

    &__item {
      font-size: a.rem(16);
      list-style-type: none;

      &_highlighted {
        color: a.$color-light-orange;
      }
    }
  }
}
