@use '../abstracts/' as a;

.home {
  @include a.flex-container(
    $direction: column,
    $gap: var(--base-vertical-flow)
  );

  .artwork-list {
    @include a.flex-container(
      $wrap: wrap,
      $gap: calc(var(--base-vertical-flow) / 2),
      $justify: center
    );
  }
}
