@use '../abstracts/' as a;

.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: a.rem(128);
  background-color: a.$color-white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    @include a.flex-container($align: center, $gap: a.rem(4));

    & img {
      width: a.rem(43);
      height: a.rem(43);
    }
  }
}
