@use '../abstracts/' as a;

.wrapper {
  position: relative;
  @include a.flex-container($align: center, $justify: center);
  width: 100%;
  max-width: a.rem(1320);
  margin: 0 auto;
  padding: 0 a.rem(16);

  & .title {
    @include a.flex-container(
      $direction: column,
      $align: center,
      $gap: a.rem(8)
    );
    width: a.rem(684);

    font-size: a.rem(64);
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: a.$color-gray;

    &_accent {
      color: a.$color-accent-orange;
      width: fit-content;
    }

    &__accent-block {
      @include a.flex-container($justify: center);
      text-align: center;
    }

    &__icon {
      @include a.flex-container($justify: center, $align: center);
      width: a.rem(72);
      height: a.rem(72);

      img {
        width: a.rem(32);
        height: a.rem(42);
      }
    }
  }

  &__fallback-content {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;

    a {
      color: a.$color-accent-orange;
      text-decoration: underline wavy a.$color-accent-orange;
    }
  }
}

main .wrapper {
  @include a.flex-container(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: a.rem(120)
  );
  min-height: calc(
    100vh - a.rem(128) * 2 - a.rem(120) * 2
  ); //window height (100vh) - footer and header height (128px * 2) - vertical flow height (120px * 2)
}

.artwork-page main .wrapper {
  @include a.flex-container();
}

.home .wrapper {
  & .title {
    display: inline;
  }
}
